Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.rand
# -cppcoreguidelines-avoid-magic-numbers
# bugprone-*,
# cppcoreguidelines-*,
#   google-*,
#   misc-*,
#   modernize-*,
#   performance-*,
#   portability-*,
#   readability-*,
#   -google-readability-namespace-comments,
#   -google-runtime-int,
#   -google-runtime-references,
#   -misc-non-private-member-variables-in-classes,
#   -readability-named-parameter,
#   -readability-braces-around-statements,
#   -readability-magic-numbers
WarningsAsErrors: '*'
# HeaderFilterRegex: '^(?!.*gtest/).*'
