Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.rand,

  performance-*,
  portability-*,
  bugprone-*,
# -cppcoreguidelines-avoid-magic-numbers

# cppcoreguidelines-*,
#   google-*,
#   misc-*,
#   modernize-*,
#   readability-*,
#   -google-readability-namespace-comments,
#   -google-runtime-int,
#   -google-runtime-references,
#   -misc-non-private-member-variables-in-classes,
#   -readability-named-parameter,
#   -readability-braces-around-statements,
#   -readability-magic-numbers
WarningsAsErrors: '*'
# HeaderFilterRegex: '^(?!.*gtest/).*'

UseColor:       true